body{
	background-color: maroon;
	font-family: 'Baloo Bhaina', cursive;
	color: black;
}

a:hover, a:link, a:visited{ 
	color: black;
}
#header-nav{
	background-color: orange;
	border-radius: 0px;
	border: 0px;
}
.navbar-header{

	background-color: orange;
	border-radius: 0px;
	border: 0px;
	padding: 30px;
}
#line1{
		padding: 40px;
		font-size: 200%;
		color: white;
		font-weight: bold;
	}
section{
		
		float: left;
}
		#box1{
			background-color: #00BFFF;
		  	position: relative;
			padding: 30px;
			margin: 10px;
			border: 1px solid black;
			
		}
		#head1{
			text-align: center;
			font-size: 125%;
		}
		#box2{
			background-color: #807E83;
			position: relative;
			padding: 30px;
			margin: 10px;
			border: 1px solid black;
		}
		#head2{
			text-align: center;
			font-size: 125%;
		}
		
		#box3{
			background-color: #807E83;
			position: relative;
			padding: 30px;
			margin: 10px;
			border: 1px solid black;
		}
		#head3{
			text-align: center;
			font-size: 125%;
		}

 #nav-list{
	border: 1px solid black;
}
 
 #nav-list li{
 	border: 1px solid black;
 	background-color: #4B0082;
 	font-size: 125%;
 	font-weight: bold;
 }
 

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	         .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 

              {
    	          float: left;
              } 
              .col-sm-12 {
    	         width: 100%;
              }

}


            
/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
	          .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
	          { 
	          	
	          	float: left;

	          }
	          .col-md-12{
	          	 width: 100%;
	          	 margin: 10px;
	          }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	          .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12
	          {
		        float: left;
		        
	          }
	          .col-lg-12{
		         width: 100%;
		         margin: 10px;
	          }
}
 

